node_modules
dist
coverage
.env
.env.*
!.env.example
.git
.gitignore
.cursor
.vscode
*.log
test
docs
data
**/*.md
!README.md
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
jest.config.js
tsconfig.test.json
tsconfig.eslint.json
.eslintrc.js
.prettierrc
